/* Link to use Google Font with Bootstrap */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif !important;
}

.jumbotron {
	background-color: burlywood !important;
}
.header {
	color: white;
	text-align: center;
}

.schedule-header {
	background-color: #35424a !important;
}

.form-header {
	background-color: #19FD95 !important;
	color: #000;
}

.button-add {
	background-color: #19FD95;
}